@import url("reset.css");

html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

body {
  background-color: #151019;
  height: 100vh;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 18px 18px;
  border-radius: 20px;
  width: 425px;
  height: 370px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section > header > h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 3px;
}

section > header > h2 {
  text-align: center;
  font-weight: normal;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

section > form {
  text-align: center;
  width: 100%;
}

section > form > input {
  width: 90%;
  border: none;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.48);
  box-shadow: rgba(0, 0, 0, 0.48) 0px 0px 8px 8px;
}

section > button {
  width: 30%;
  height: 40px;
  border: none;
  background-color: rgba(0, 0, 0, 0.48);
  border-radius: 10px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  box-shadow: rgba(0, 0, 0, 0.48) 0px 0px 8px 8px;
}

h1,
h2,
button,
label {
  color: rgb(196, 196, 196);
}

section > article {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section > article > form.slider-form{
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section > article > form.slider-form > label {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 4px 4px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 20px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #88c8ff;
  cursor: pointer;
  border-radius: 20px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #88c8ff;
  cursor: pointer;
}
