html {
  background-image: url("Images/background-image.png");
  background-size: 1960px 930px;
  font-size: 19px;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid black;
  width: 500px;
  height: 500px;
}
