section > button {
  cursor: pointer;
  width: 35%;
  height: 50px;
  border: none;
  background-color: rgb(136, 200, 255, 0.5);
  border-radius: 30px;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(222, 222, 222);
}

section > button:hover {
  border: 1px solid white;
  transform: translateY(-1px);
  background-color: #88c8ff;
  color: white;
}

section > button:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgb(211, 211, 211, 0.2);
  color: white;
}
