.checkboxes-form {
  display: grid;
  grid-template-areas:
    "box box"
    "box box";
  font-size: 1.2em;
  height: 35%;
  gap: 5px;
}

.checkboxes-form .checkbox:nth-child(odd) {
  padding-left: 40%;
}

.checkboxes-form .checkbox:nth-child(even) {
  padding-left: 10%;
}
