section > form.password-field {
  text-align: center;
  width: 100%;
}

section > form.password-field > input {
  width: 90%;
  border: none;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.48);
  box-shadow: rgba(0, 0, 0, 0.48) 0px 0px 8px 8px;
  color: rgb(211, 211, 211);
  font-size: 1.8em;
  text-align: center;
}
