section > form.password-field {
  text-align: center;
  width: 100%;
}

section > form.password-field > input {
  width: 80%;
  border: none;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.48);
  color: rgb(211, 211, 211);
  font-size: 1.6em;
  text-align: center;
}
