@media (max-width: 600px) {
  section {
    width: 350px !important;
  }

  html {
    font-size: 14px !important;
  }

  .container {
    line-height: 1.6;
    gap: 5px;
  }

  .slider-form {
    font-size: 1.2em;
  }

  section > form.password-field input:hover,
  input:active {
    border: 1px solid rgb(211, 211, 211);
    transform: translateY(-1px);
  }
}
