@media (max-width: 600px) {
  section {
    width: 350px !important;
  }

  html {
    font-size: 14px !important;
  }

  .container {
    line-height: 1.6;
    gap: 5px;
  }

  .slider-form {
    font-size: 1.2em;
  }
}
