@media (max-width: 600px) {
  section {
    width: 350px !important;
  }

  html {
    font-size: 14px !important;
  }

  .container {
    line-height: 1;
    gap: 5px;
  }

  .slider-form {
    font-size: 1.2em;
  }

  section > button:hover {
    border: 0px;
    transform: translateY(0px);
    background-color: rgb(136, 200, 255, 0.5);
    color: rgb(222, 222, 222);
  }

  section > button:active {
    transform: scale(0.98);
    border: 1px solid white;
    transform: translateY(1px);
    background-color: #88c8ff;
    color: white;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }
}
